<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-title" content="{{page.apptitle}}">
<meta property="og:type" content="h5"/>
{% seo %}
<base target="_blank"/>
<link href="{{site.cdn}}/img/favicon.ico" rel="icon" type="image/x-icon">
{% if page.permalink != '6c6f7665' %}
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
{% endif %}
<!--
<script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2.1/dist/jquery.min.js"></script>
-->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>