{% if site.baidu_analytics %}
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?{{site.baidu_analytics}}";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
{% endif %}

{% if site.google_analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{site.google_analytics}}');
</script>
{% endif %}

{% if site.tencent_analytics %}
<script type="text/javascript" src="https://tajs.qq.com/stats?sId={{site.tencent_analytics}}" charset="UTF-8"></script>
{% endif %}