<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href="{{site.cdn}}/img/favicon.ico" rel="icon" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.2.1/dist/jquery.min.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?1aebf6476a0e087be3a2e9d1b8045d64";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <style>
        #main_content h1, h2, h3, h4, h5 {
            margin: 8px 0 8px;
        }

        #subtitle {
            margin: 0 auto;
            width: 90%;
            max-width: 1000px;
            color: orangered;
        }
    </style>
    {% seo %}
</head>

<body>

<header>
    <div class="container">
        <h1 id="headTitle">{{ site.blog_title }}</h1>
        <h2>{{page.title}}</h2>
    </div>
</header>

<h1 id="subtitle">{{page.subtitle}}</h1>
<div class="container">
    <section id="main_content">
        {{ content }}
    </section>
    <!--Gitalk  -->
    {% if site.gitalk.enable %}
    <!-- 引入Gitalk评论插件  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
    <div id="gitalk-container"></div>
    <script type="text/javascript">
        var gitalk = new Gitalk({
            clientID: '{{site.gitalk.clientID}}',
            clientSecret: '{{site.gitalk.clientSecret}}',
            repo: '{{site.gitalk.repo}}',
            owner: '{{site.gitalk.owner}}',
            admin: ['{{site.gitalk.admin}}'],
            distractionFreeMode: {{site.gitalk.distractionFreeMode}},
            id: window.location.pathname,
        });
        gitalk.render('gitalk-container');
    </script>
    {% endif %}
    <!-- Gitalk end -->
</div>

<div class="footer">
    <p class="copyright">&copy;2010-{{site.time | date:'%Y'}} ROCEYS & 東邊山雲網 </p><br><br>
</div>
{% if site.google_analytics %}
<script type="text/javascript">
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '{{site.google_gajs}}', 'ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>
