<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
<head>
    {% include head.html %}
    {% include markdownNav.html %}
    {% include siteanalytics.html %}
    <style>
        #main_content h1, h2, h3, h4, h5 {
            margin: 8px 0 8px;
        }

        #subtitle {
            margin: 0 auto;
            width: 90%;
            max-width: 1000px;
            color: orangered;
        }
    </style>
</head>

<body>
<header>
    <div class="container">
        <h1 id="headTitle">{{ site.blog_title }}</h1>
        <h2>{{page.title}}</h2>
    </div>
</header>

<h1 id="subtitle">{{page.subtitle}}</h1>
<div class="container">
    <section id="main_content">
        {{ content }}
    </section>
    <!--Gitalk  -->
    {% if site.gitalk.enable %}
    <!-- 引入Gitalk评论插件  -->
    <!--辣鸡CDN卡到爆  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script> -->
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
    <div id="gitalk-container"></div>
    <script type="text/javascript">
        var gitalk = new Gitalk({
            clientID: '{{site.gitalk.clientID}}',
            clientSecret: '{{site.gitalk.clientSecret}}',
            repo: '{{site.gitalk.repo}}',
            owner: '{{site.gitalk.owner}}',
            admin: ['{{site.gitalk.admin}}'],
            distractionFreeMode: {{site.gitalk.distractionFreeMode}},
            id: window.location.pathname,
        });
        gitalk.render('gitalk-container');
    </script>
    {% endif %}
    <!-- Gitalk end -->
</div>

{% include footer.html %}
</body>
</html>
