<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
<head>
    {% include head.html %}
    <script src="{{site.staticcdn}}/js/common.js" async></script>
</head>
<body>
<header>
    <div class="containerTime" id="pDate"></div>
	<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=100% height=86 src="https://music.163.com/#/song?id=4262149&auto=1&height=66"></iframe>
</header>
 <div class="txt" id="main"><br>
     <p>知人者智，自知者明。</p><br>
     <p>木秀于林，风必摧之。</p><br>
     <p>莫待老年再修道，孤坟尽埋少年人。</p><br>
     <p>世界上有许多高学历的傻逼。——麦当劳创始人</p><br>
     <p>这个社会里所有人都自命不凡，实际上都微不足道。</p><br>
     <p>世界上只有两种人最自信，一是无知者，二是自大者。</p><br><br>
     <pre style="color:#eaeaea;">
报复性反应是任何生物在自然界生存竞争的基本需要和本能。任何物种不具有这种本能，都将被自然界淘汰。
畏惧他人报复会减少对他人的侵犯，报复本能为人类创造了一种博奕论意义上的合作互不侵犯，从而使人类进入了“文明”。</pre><br><br>
     <pre style="color:#eaeaea;">
	在你们身上多数是人性，还有许多非人性，是一个未成形的侏儒，在迷雾中梦游，找寻着自己的清醒。
	 我现在想说说你们身上的人性，因为熟识罪与罚的只有它，不是你们的神性，也不是迷雾中的侏儒。
	我常常听你们谈起犯了某个错误的人，好像他不是你们中的一员，而是一个闯入了你们世界的陌生人。
然而我要说，即使是神圣正直之人，也不可能超越你们每个人心中的至善，同样，即使是邪恶软弱之人，也不可能低于你们心中的至恶。
	宛如一片孤叶，未经大树的默许就不能枯黄，那犯罪之人，未经你们全体的暗许就不能为非作歹。
		你们就像一列向着人类“神性面”迈进的队伍，你们是坦途，也是路人。
		若其中一人跌倒，他是为后面的人跌倒，让他们小心避开绊脚的石头。
	      他也是为了前面的人跌倒，他们步伐虽然迅捷稳健，然而却没有移走绊脚石。</pre><br><br>
<pre style="color:#eaeaea;">
曾国藩交友论——“八交九不交”
『八交』胜己者、盛德者、趣味者、肯吃亏者、直言者、志趣广大者、惠在当厄者，体人者。
『九不交』志不同者、谀人者、恩怨颠倒者、好占便宜者、全无性情者、不孝不悌者、愚人者、落井下石者、德薄者。
</pre><br><br><br>
     <div class="container">
         <pre>
             <table style="margin: auto;width: auto;" id="indexTab">
                 <tr><td colspan="2" style="font-size: x-large;">互联网档案馆 Internet Archives of ROCEYS</td></tr>
				 <tr>
                     <td><a href="{{site.domain}}/news">新闻快讯&nbsp;/&nbsp;News</a></td>
                     <td><a href="{{site.domain}}/project">十万个陌生人&nbsp;/&nbsp;Project</a></td>
                 </tr>
                 <tr>
                     <td><a href="{{site.domain}}/blog">博客&nbsp;/&nbsp;BLOG</a></td>
                     <td><a href="{{site.domain}}/tech">科技&nbsp;/&nbsp;Tech</a></td>
                 </tr>
                 <tr>
                     <td><a href="{{site.domain}}/travel">世界自由行&nbsp;/&nbsp;Travel</a></td>
                     <td><a href="{{site.domain}}/trip">智慧旅游&nbsp;/&nbsp;Trip</a></td>
                 </tr>
                 <tr>
                     <td><a href="{{site.domain}}/vpn">网络通信&nbsp;/&nbsp;VPN</a></td>
                     <td><a href="{{site.domain}}/book">文学文库&nbsp;/&nbsp;Book</a></td>
                 </tr>
                 <tr>
                     <td><a href="{{site.domain}}/media">流媒体&nbsp;/&nbsp;Media</a></td>
                     <td><a href="{{site.domain}}/movie">高清影视&nbsp;/&nbsp;Movie</a></td>
                 </tr>
                 <tr>
                     <td><a href="{{site.domain}}/app">爱啪啪&nbsp;/&nbsp;APP</a></td>
                     <td><a href="{{site.domain}}/soft">软件合集&nbsp;/&nbsp;Soft</a></td>
                 </tr>
                 <tr>
                     <td><a href="{{site.domain}}/kms">知识管理系统&nbsp;/&nbsp;KMS</a></td>
                     <td><a href="{{site.domain}}/finance">金融&nbsp;/&nbsp;Finance</a></td>
                 </tr>
				 <tr>
                     <td><a href="{{site.domain}}/xxx">老司机飙车&nbsp;/&nbsp;DriverOld</a></td>
                     <td><a href="{{site.domain}}/sheep">黑灰产研究中心&nbsp;/&nbsp;Sheep</a></td>
                 </tr>
 	<tr>
                     <td><a href="{{site.domain}}/iot">物联网&nbsp;/&nbsp;IoT</a></td>
                     <td><a href="{{site.domain}}/music">无损音乐&nbsp;/&nbsp;Music</a></td>
                 </tr>
				 <tr>
                     <td><a href="{{site.domain}}/buyer">顶级买手&nbsp;/&nbsp;Buyer</a></td>
                     <td><a href="{{site.domain}}/game">游戏&nbsp;/&nbsp;Game</a></td>
                 </tr>
				 <tr>
                     <td><a href="{{site.domain}}/family">家族族谱&nbsp;/&nbsp;FamilyTree</a></td>
                     <td><a href="{{site.domain}}/bigdata">社工库&nbsp;/&nbsp;BigData</a></td>
                 </tr>
             </table>
         </pre>
     </div>
 </div>
{% include footer.html %}
{% include siteanalytics.html %}
</body>
</html>
