<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="description" content="基于移动互联网智能灵活便捷的自由行解决方案 - Roceys东边山云网">
    <meta name="apple-mobile-web-app-title" content="基于移动互联网智能灵活便捷的自由行解决方案 - Roceys东边山云网">
    <meta property="og:type" content="h5" />
    <meta property="og:title" content="基于移动互联网智能灵活便捷的自由行解决方案 - Roceys东边山云网">
    <meta property="og:description" content="塞尔维亚&波黑全网最佳攻略 附景点餐饮酒店GPS精确调节方法">
   <!-- <meta property="og:image" content="http://roceys.cn/assets/images/favicon.ico">
    <meta property="og:url" content="http://roceys.cn/travel">-->
    <title>{{ site.travel }}</title>
    <base target="_blank"/>
    <link href="https://cdn.jsdelivr.net/gh/roceys/static@v1.0/img/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <style>
        .container {
            text-align: center;
            font-weight: bold;
            font-size: 25px;
        }

        table#country {
            width: 450px;
            margin: auto;
        }

        a {
            text-decoration: none;
        }

        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        td.city {
            font-size: 20px;
            font-weight: bold;
            color: floralwhite;
        }

        footer, header {
            min-width: 450px;
        }

    </style>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?1aebf6476a0e087be3a2e9d1b8045d64";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
<header>
    <div class="container">基于移动互联网智能灵活便捷的自由行解决方案</div>
</header>
<div class="txt" id="main">
    <table id="country">
        <tr>
            <td colspan="5" class="city"><a href="http://wx2.sinaimg.cn/large/9cd3e769gy1g6h4bjokc4j213t0u0dqo.jpg">塞尔</a><a href="https://i.loli.net/2019/08/30/3mdWs5gyCT7aZti.jpg">维亚</a></td>
        </tr>
        <tr>
            <td>航班</td>
            <td>租车</td>
            <td>停车</td>
            <td>加油</td>
            <td>导航</td>
        </tr>
        <tr>
            <td>交规</td>
            <td>餐饮</td>
            <td>住宿</td>
            <td>天气</td>
            <td>货币</td>
        </tr>
        <tr>
            <td><a href="http://ws2.sinaimg.cn/large/9cd3e769gy1g6h29vtkbpj208j04ujrb.jpg">紧急电话</a></td>
            <td>语言交流</td>
            <td>民族历史</td>
            <td>WIFI/SIM</td>
            <td>公共交通</td>
        </tr>
    </table>
    <br>
</div>
<footer style="height: auto;">
    <div style="text-align: center;">
        <table style="margin: auto;">
            <tr>
                <td style="text-align: right;"><a href="https://i.loli.net/2019/08/30/nvcXMUoCPH8Qrzb.png">全球数字分位常识</a></td>
                <td style="text-align: left;"><a href="https://ws2.sinaimg.cn/large/672f3a16gy1g6h35j50x3j20gb0ipabi.jpg">旅行准备物品清单</a></td>
            </tr>
        </table>
    </div>
    <br><br>
    <p class="copyright">&copy; 2010-{{ site.time | date: '%Y' }}
     <!--   <script>var d = new Date();
        document.write(d.getFullYear());</script>-->
        ROCEYS & 東邊山雲網
    </p>
    <br>
</footer>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=66155812" charset="UTF-8"></script>
{% if site.google_analytics %}
<script type="text/javascript">
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', '{{ site.google_analytics }}', 'auto');
    // ga('set', 'forceSSL', true);
    ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>
